.banner {
  position: relative;
  padding: 6em 0;

  &__title {
    margin-bottom: 0.7em;
  }

  &__text {
    line-height: 170%;
    margin-bottom: 1.875em;
    width: 34.375em;
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 1.875em 0;
  }

  &__dots {
    position: absolute;
    right: 20em; // Px
    top: 13.65em;
  }
}

.banner-about {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;

  &__wrapper {
    background: #1c140f;
  }

  &__content {
    padding-top: 3em;
    width: 36em;
  }

  &__title {
    margin: 0.8em 0;
  }
}