@use "abstracts/variables" as *;

.banner {
  position: relative;
  padding: 6em 0;

  &__title {
    margin-bottom: 0.7em;
  }

  &__text {
    line-height: 170%;
    margin-bottom: 1.875em;
    width: 34.375em;
  }

  &__image {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 1.875em 0;
  }

  &__dots {
    position: absolute;
    right: 20em; // Px
    top: 13.65em;
  }
}

.banner-about {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;

  &__wrapper {
    background: $bg-default;
  }

  &__content {
    padding-top: 3em;
    width: 36em;
  }

  &__title {
    margin: 0.8em 0;
  }
}

.banner-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;

  &__content {
    width: 45%;
  }

  &__title {
    font-weight: medium;
    width: 18em;
  }

  &__text {
    margin: 2em 0;
    width: 27em;
  }

  &__button {
    border: 0;
    border-radius: 0;
    color: $color-text-default;
    padding: 1em 3em;
  }
}