@use "abstracts/variables" as *;

.customers {
  padding: 3em;

  &__content{
    background: $bg-default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em;
    border-radius: 1em;
    margin-top: 3em;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:nth-child(1)) {
    border-left: 0.6px solid #ffffff;
    height: 100px;
    padding-left: 150px;
  }

  &__item-image {
    margin-right: 1em;
  }

  &__item-title {
    text-align: start;
  }
}