@use "abstracts/variables" as *;

.trending {
  padding-top: 9em; // Px

  &__see-all {
    color: #fff;
    background: $color-button-inverse;
    border-radius: 0.313em; // Px
    padding: 0.75em 1.438em;
    float: right;
    display: block;
    transition: all 500ms ease;
  }

  &trending__see-all:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3.125em 0;
  }

  &__followers {
    display: block;
    text-align: center;
    margin-top: 1.2em;
  }

  &__icon {
    position: relative; // Px
    top: 0.35em;
    margin-right: 0.2em;
  }
}