$color-button-default: #fa9021;
$color-button-secondary: #fa8305;
$color-button-inverse: #25211d;

$color-accent: #dc7000;

$color-hr: #a5a5a5;

$color-form: #4f4f4f;
$color-form-border: #cecece;

$color-text-default: #fff;
$color-text-heading-accent: #e87d0e;
$color-text-muted: #898989;

$bg-default: #1c140f;
$bg-footer: #070707;
$bg-email: #fff;
$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(74, 40, 0, 1) 100%
);

$colors: (
  "blue": #2351f5,
  "coral": #ff8484,
  "orange": #ff7c32,
  "green": #23a54f,
  "purple": #9921c3,
)